body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #66fcf1;
    background: linear-gradient(to bottom, #0b0c10, #1f2833);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.ama-form {
    background-color: #1f2833;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(102, 252, 241, 0.5);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgba(11, 12, 16, 0.9);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    width: 100%;
    position: relative;
}

.input-container label {
    font-size: 24px;
    margin-right: 10px;
    flex: 1;
}

input[type="text"],
input[type="email"],
textarea {
    flex: 2;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0b0c10;
    color: #66fcf1;
    transition: background-color 0.3s;
    resize: none;
    min-height: 50px;
    max-height: 300px;
    font-family: Arial, sans-serif;
}

.character-count {
    font-size: 14px;
    color: #66fcf1;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
}

.input-container.expanding textarea {
    overflow: hidden;
}

.input-container.expanding textarea:focus {
    background-color: #1f2833;
    min-height: 50px;
    max-height: 300px;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

button {
    background-color: #45a29e;
    color: #0b0c10;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #66fcf1;
}

/* Parallax background */
.parallax-bg {
    background-image: url('BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -280px; /* Adjust the vertical position */
    position: relative;
    min-height: 17vh;
    overflow: hidden;
}

.blur-bg {
    filter: blur(7px);
}

/* Additional styles for the Home button */
.home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #45a29e;
    color: #0b0c10;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

.home-button:hover {
    background-color: #66fcf1;
}
